.footer-list{
    ul{
        li{
            list-style: none;
            text-decoration: none;           
            display: block;
            color: #a2a2a2;
            font-size: $fs-default-lg;
            line-height: 45px; 
            border-bottom: 1px solid $color-black-h;    
            cursor: pointer; 
            transition: all .5s;  
            i{
                padding-right: 15px;
                font-size: 10px;
                transform: translateY(-15%);
            } 
        }
        li:hover{
            color: $color-yellow-active; 
        }
       
    }
}