
// FONT-SIZE
$fs-default-sm: 10px;
$fs-default-md: 12px;
$fs-default-lg: 15px;

$fs-h4: 18px;

$fs-h3-md: 20px;
$fs-h3-lg: 24px;

$fs-h2: 30px;

$fs-h1-md: 36px;
$fs-h1-lg: 60px;

// COLOR
$color-black-default: #0a0a0a;
$color-black-1: #323232;
$color-black-icon: #222;
$color-black-h: #333;
$color-black-bg: #1b1b1b;

$color-gray-progress: #606060;
$color-gray-p: #7e7e7e;
$color-gray-a: #a9a8a8;
$color-gray-0: #a4a4a4;
$color-gray-1: #757575;
$color-gray-border: #e9e9e9;
$color-gray-after: #595959;

$color-yellow-active: #d6b161;

$color-white: #fff;

// MARGIN
$mg-0: 10px;
$mg-1: 15px;
$mg-2: 20px;
$mg-3: 30px;
$mg-4: 50px;
$mg-5: 80px;
$mg-6: 100px;

// PADDING
$pd-0: 12px;
$pd-1: 20px;
$pd-2: 30px;
$pd-3: 35px;
$pd-4: 70px;
$pd-5: 100px;
$pd-6: 150px;

// HEIGHT
$h-0: 60px;

// WIDTH
$w-0: 60px;


// FONT_WEIGHT
$fw-0: 300;
$fw-1: 400;
$fw-2: 700;